/** RIT Pep Band **/

/** Reset some elements **/

h1, h2, h3, h4, h5, h6, p, ul, html, body, nav, header, footer, img {
    display: block;
    margin: 0; padding: 0;
}


/** Content elements **/
h1 {
    margin: 0 0 0.8em; padding: 0 0 0.3em;
    color: #CE7014;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #CAAE90;
}

h2 {
    margin: 0 0 0.8em;
    font-size: 1.2em;
    text-align: center;
}

/* Unused */
h3 {
    margin: 0 0 0.8em; padding: 1em 0 0;
    font-size: 1.1em;
    text-align: center;
}

p {
    margin: 0 0 1em;
}

a {
    border-bottom: 1px dashed;
    text-decoration: none;
    color: #444;
}

a:hover {
    border-bottom: 1px solid;
}

ul {
    padding: 0 0 1em 2.6em;
    list-style: square;
}

/* Unused */
ol {
    padding: 0 0 1em 2.6em;
}

/* Unused */
dt {
    font-weight: bold;
}

/* Unused */
dd {
    margin: 0 0 1em 1em;
}

/* Unused */
blockquote {
    margin: 0; padding: 0.5em 0 0.2em 2.5em;
    border-left: 2px solid #ddd;
    background: url(../images/blockquote.gif) no-repeat 6px 5px;
}


/** Formatting styles **/

/* Unused */
.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
}

/* Unused */
.nomargin {
    margin: 0;
}

/* Unused */
.size2 {
    font-size: 2em;
}


/** Eye candy **/
::selection {
    background: #fec24a;
    color: #444;
}

::-moz-selection {
    background: #fec24a;
    color: #444;
}


/** Main layout **/
html {
    background: url('../images/background.jpg') no-repeat;
    background-position: 50% 0;
    background-attachment:fixed;

    background-color:black;
    font-size: 75%;
    line-height: 1.5em;
    font-family: verdana,arial,sans-serif
}

body {
    margin: 0 auto;
    width: 760px;
    box-shadow: 0 0 15px #000;
    -moz-box-shadow: 0 0 15px #000;
    -webkit-box-shadow: 0 0 15px #000;
    -o-border-radius: 0 0 15px #000;
    -khtml-border-radius: 0 0 15px #000;
    border-top: 1px solid #737373;
    background: url(../images/back.gif) repeat-y;
    position: relative;   
}


/** Content area **/
#content {
    width: 510px;
    padding: 15px 20px 20px;
    float: left;
    color: #444;
}

#content img {
    max-width: 100%;
    margin: 5px 0 10px 10px;

    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 2px 7px #000000;
    -webkit-box-shadow: 0px 2px 7px #000000;
    box-shadow: 0px 2px 7px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}


/** Right column **/
#right {
    margin: 0 0 0 0; padding: 0 20px 20px;
    width: 168px;
    float: right;
    font-size: 0.9em;
    line-height: 1.3em;
    color: #DBD7D1;    
    height:100%;
    left:-19px;
}

#right h2 {
    margin: 1.3em 0 10px; padding: 5px 0 5px 17px;
    width: 190px;
    background: url(../images/menuhover.png) repeat-x left center;
    position: relative;
    left: -17px;
    color: black;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: arial, sans-serif;
    text-align: left;
}

/* Unused */
#right p {
    margin: 0 0 0.8em;
}

#right ul {
    padding-left: 1.8em;    
}

/* Unused */
#right a {
    color: #DBD7D1;
}


/** header **/
header {
    background-color:black;
    line-height: 0;
    clear: both;
}


/** Navigation **/
nav {
    background: url(../images/menu.png) repeat-x #282828;
    height: 33px;
    overflow: hidden;
    width: 100%;
}

nav li,
nav li:active {
    color:white !important;
}

nav ul {
    margin: 0; padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    list-style:none;
}

nav a {
    padding: 6px 8px 0;
    height: 33px;
    display: block;
    float: left;
    color: #dbd7d1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    border: none;
}

nav a:hover, nav a.current {
    background-image: url(../images/menuhover.png);
    color: #70695a;
    border: none;
}


/** footer **/
footer {
    padding-top:7px;  
    clear: both;
    background: url(../images/menu.png) repeat-x #282828;
    color: #dbd7d1;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1em;
}

footer h1 {
	font-weight: bolder;
	font-size: 1.7em;
	text-transform: none;
}

/* Unused */
footer a {
    color: #dbd7d1;
    text-decoration: underline;
    border: none;
}

/* Unused */
footer a:hover {
    text-decoration: none;
    border: none;
}

/** Table **/

/* Unused */
.full_table{
    width:100%;
    text-align:left;
}


/* Unused */
div .spaced{
  padding-top:20px;
}

/* Unused */
.pager{
  padding-top:20px !important;
}

/* Unused */
li .active{
  background-color:#fd7d00;
}

/* Unused */
#right .block-title {
  background-color:#fd7d00;
}

/* Unused */
table{
  width:100%;
}

.selected {
  background: url(../images/menuhover.png);
  color: black;
}

/** Twitter Stuff */
.twitter-timeline {
  height: 300px;
}

/** History Stuff */
#hist-nav {
  background: none;
  margin-bottom: 15px;
  text-align: center;
}

#hist-nav a {
  color: #CE7014; 
  float: none;
  display: inline;
  margin: 2px;
}

#hist-nav a:hover {
 font-weight: bold;
 background: none;
}
