/** RIT Pep Band **/


/** Reset some elements **/

h1, h2, h3, h4, h5, h6, p, ul, html, body, nav, header, footer, img {
    display: block;
    margin: 0; padding: 0;
}


/** Content elements **/
h1 {
    margin: 0 0 0.8em; padding: 0 0 0.3em;
    color: #CE7014;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #CAAE90;
}

h2 {
    margin: 0 0 0.8em;
    font-size: 1.2em;
    text-align: center;
}

h3 {
    margin: 0 0 0.8em; padding: 1em 0 0;
    font-size: 1.1em;
    text-align: center;
}

p {
    margin: 0 0 1em;
}

a {
    border-bottom: 1px dashed;
    text-decoration: none;
    color: #444;
}

a:hover {
    border-bottom: 1px solid;
}

ul {
    padding: 0 0 1em 2.6em;
    list-style: square;
}

ol {
    padding: 0 0 1em 2.6em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 1em 1em;
}

blockquote {
    margin: 0; padding: 0.5em 0 0.2em 2.5em;
    border-left: 2px solid #ddd;
    background: url(images/blockquote.gif) no-repeat 6px 5px;
}


/** Formatting styles **/
.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
}

.nomargin {
    margin: 0;
}


/** Eye candy **/
::selection {
    background: #fec24a;
    color: #444;
}

::-moz-selection {
    background: #fec24a;
    color: #444;
}


/** Main layout **/
html {
    background: #837560;
    font-size: 75%;
    line-height: 1.5em;
    font-family: verdana,arial,sans-serif
}

body {
    margin: 0 auto;
    width: 760px;
    box-shadow: 0 0 15px #000;
    -moz-box-shadow: 0 0 15px #000;
    -webkit-box-shadow: 0 0 15px #000;
    -o-border-radius: 0 0 15px #000;
    -khtml-border-radius: 0 0 15px #000;
    border-top: 1px solid #737373;
    background: url(images/back.gif) repeat-y;
    position: relative;   
}


/** Content area **/
#content {
    margin: 33px 0 0;
    width: 510px;
    padding: 15px 20px 20px;
    float: left;
    color: #444;
}

#content img {
    max-width: 100%;
}


/** Right column **/
#right {
    margin: 33px 0 0; padding: 0 20px 20px;
    width: 168px;
    float: left;
    font-size: 0.9em;
    line-height: 1.3em;
    color: #DBD7D1;    
}

#right h2 {
    margin: 1.3em 0 10px; padding: 5px 0 5px 17px;
    width: 190px;
    background: url(images/menuhover.png) repeat-x left center;
    position: relative;
    left: -17px;
    color: #70695A;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: arial, sans-serif;
    text-align: left;
}

#right p {
    margin: 0 0 0.8em;
}

#right ul {
    padding-left: 1.8em;    
}

#right a {
    color: #DBD7D1;
}





/** Header **/
header {
    padding: 35px 0 0;
    background: url(images/menu.png) repeat-x;
    line-height: 0;
    clear: both;
}


/** Navigation **/
nav {
    background: url(images/menu.png) repeat-x #282828;
    height: 33px;
    overflow: hidden;
    position: absolute;
    top: 135px; left: 0;
    width: 100%;
}

nav ul {
    margin: 0; padding: 0;
    list-style: none;
}

nav li {
    display: inline;
}

nav a {
    padding: 6px 8px 0;
    height: 33px;
    display: block;
    float: left;
    color: #dbd7d1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    border: none;
}

nav a:hover, nav a.current {
    background-image: url(images/menuhover.png);
    color: #70695a;
    border: none;
}



/** Footer **/
footer {
    padding: 0.8em 0;
    clear: both;
    background: url(images/menu.png) repeat-x #282828;
    color: #dbd7d1;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1em;
}

footer a {
    color: #dbd7d1;
    text-decoration: underline;
    border: none;
}

footer a:hover {
    text-decoration: none;
    border: none;
}
