!!! 5
%html
  %head
    %link{:rel => "stylesheet" , :type => "text/css", :href => "css/style.css"}  
    %title 
      Hi Derek
  %body
    %header
      %img{:src => "images/logo.png", :alt => "Home"}      
    #content
      [content]    
    #right
    %nav
      %ul
        %li
          %a hi
        %li 
          %a hi
    %footer