!!! 5
%html
  %head
    %link{:rel => "stylesheet" , :type => "text/css", :href => "css/new_style.css"} 
    /[if IE]  
      %link{:rel => "stylesheet" , :type => "text/css", :href => "css/ie.css"} 
    %title 
      [title] | RIT Pep Band
  %body
    %header
      %img{:src => "images/logo.png", :alt => "Home"}     
    %nav
      [nav]
    #content
      [content]    
    #right
      [right]
    %footer
