!!! 5
%html
  %head
    %link{:rel => "stylesheet" , :type => "text/css", :href => "css/new_style.css"} 
    /[if IE]  
      %link{:rel => "stylesheet" , :type => "text/css", :href => "css/ie.css"} 
    %script{:type => "text/javascript", :src => "js/kcode.js"}
    %title 
      [title] | RIT Pep Band
  %body
    %header
      %img{:src => "images/logo.png", :alt => "RIT Pep Band"}     
    %nav
      [nav]
    #content
      [content]    
    #right
      [right]
    %footer
